body {
  background-color: black;
}
.stories {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
}
.profile-img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3%;
  left: 5%;
  border-radius: 50px;
  z-index: 2;
}
.id {
  color: white;
  position: absolute;
  top: 4%;
  left: 15%;
  font-weight: 600;
  z-index: 2;
}
footer {
  display: flex;
  padding: 10px 0;
}
.oval {
  border: 1.5px solid white;
  width: 370px;
  height: 40px;
  border-radius: 25px;
  z-index: 2;
}
.reply {
  color: white;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
}
.reaction {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 5px;
}
.heart {
  width: 37px;
}
.plane {
  width: 37px;
}
.story-img {
  border-radius: 30px;
  z-index: 1;
  height: 90vh;
}
